* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background: #fff;
    font-family: arial;
    position: relative;
    color: #222;
    height: 100%;
}

header {
    margin: 24px;
}

.clear::after {
    display: block;
    content: "";
    clear: both;
}

.header-left {
    float: left;
    width: calc(100% - 250px);
}

.header-right {
    float: left;
    position: relative;
}

.link-layout {
    text-decoration: none;
    color: rgba(0, 0, 0 , .85);
    padding: 0 8px;
    font-size: .65rem;
}

.fa-th {
    padding: 0 8px;
    opacity: .55;
    cursor: pointer;
    vertical-align: middle;
}

.link-layout:hover {
    text-decoration: underline;
}

.fa-th:hover,
.fa-th:focus {
    color: #000;
    opacity: .85;
}

.login {
    cursor: default;
    padding: 0 12px;
    margin-left: 8px;
    color: #fff;
    font-size: .7rem;
    font-weight: bold;
    border: 1px solid #4387fb;
    background: #4387fb;
    border-radius: 2px;
    line-height: 1.4rem;
}

main {
    text-align: center;
}

main img {
    padding-top: 109px;
}

.searchbar {
    width: 584px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 30px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.searchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.fa-search {
    font-size: .75rem;
    color: #9AA0A6;
    margin: 13px;
}

.searchbar input {
    outline: none;
    border: 0;
    margin: 10px 0;
    font-size: .8rem;
}

.btn-primary {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    height: 36px;
    font-size: .7rem;
    text-align: center;
    cursor: pointer;
    margin: 11px 4px;
    padding: 0 16px;
}

.btn-primary:hover {
    border: 1px solid #c6c6c6;
}

.dropmenu {
    display: none;
    width: 340px;
    height: 470px;
    top: 0;
    right: 0;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    background: #fff;
    position: absolute;
    z-index: 10;
}

.dropmenu.show,
.popup-wrapper.show {
    display: block;
}

.dropmenu-item {
    display: inline-block;
    width: 84px;
    height: 84px;
    margin: 12px;
    font-size: .75rem;
    text-align: center;
    cursor: pointer;
}

.dropmenu-item:hover {
    background: #f6fafe;
    border-radius: 12px;
}

.icons {
    background-image: url("img/google-icons.png");
    background-size: 64px 2824px;
}

.icon-layout {
    display: inline-block;
    height: 64px;
    vertical-align: top;
    width: 64px;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
}

.popup-wrapper {
    border-top: 1px solid #e4e4e4;
    display: none;
}

.pop-up, .popup-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.pop-up {
    justify-content: space-between;
    margin: 24px 24px 24px 19px;
}

.popup-icon {
    margin-right: 24px;
}

.btn-transparent,
.btn-dark {
    height: 36px;
    padding: 10px 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: .7rem;
    border: 0;
}

.btn-transparent {
    color: #4285f4;
    background: transparent;
}

.btn-transparent:hover {
    background: rgba(153, 153, 153, .2);
}

.btn-transparent:active {
    background: rgba(153, 153, 153, .4);
}

.btn-dark {
    color: #fff;
    background: #1A73E8;
}

.btn-dark:hover {
    background: #1767d0;
}

.btn-dark:active {
    background: #155cba;
}

.footer-top,
.footer-bot {
    border-top: 1px solid #e4e4e4;
    height: 40px;
    background: #f2f2f2;
}

.text-footer {
    color: rgba(0, 0, 0 , .85);
    margin-left: 32px;
    line-height: 40px;
    font-size: .75rem;
}

.footer-bot {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.footerbot-left,
.footerbot-right {
    line-height: 38px;
}

.footerbot-left {
    margin-left: 24px;
}

.footerbot-right {
    margin-right: 24px;
}

/* Icon positions in google-icons */

.account {
    background-position: 0 -1449px;
}

#search{
    background-position: 0 -138px;
}

#maps {
    background-position: 0 -828px;
}

#youtube {
    background-position: 0 -1311px;
}

#play {
    background-position: 0 -207px;
}

#news {
    background-position: 0 -2001px;
}

#gmail {
    background-position: 0 -483px;
}

#contacts {
    background-position: 0 -1863px;
}

#drive {
    background-position: 0 -2277px;
}

#calendar {
    background-position: 0 -2553px;
}

#translate {
    background-position: 0 -1242px;
}

#photos {
    background-position: 0 -621px;
}
