* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

body {
    background: #fff;
    font-family: arial;
    position: relative;
    color: #222;
}

header {
    margin: 24px;
}

.clear::after {
    display: block;
    content: "";
    clear: both;
}

.header-left {
    float: left;
    width: calc(100% - 250px);
}

.header-right {
    float: left;
    position: relative;
}

.header-left a,
.header-right a {
    text-decoration: none;
    font-size: .65rem;
}

.header-left a,
.header-right a {
    text-decoration: none;
    color: rgba(0, 0, 0 , .85);
    padding: 0 8px;
}

.fa-th {
    padding: 0 8px;
    opacity: .55;
    cursor: pointer;
}

.header-left a:hover,
.header-right a:hover {
    text-decoration: underline;
}

.fa-th:hover,
.fa-th:focus {
    color: #000;
    opacity: .85;
}

.login {
    cursor: default;
    padding: 0 12px;
    margin-left: 8px;
    color: #fff;
    font-size: .7rem;
    font-weight: bold;
    border: 1px solid #4387fb;
    background: #4387fb;
    border-radius: 2px;
    line-height: 1.4rem;
}

main {
    text-align: center;
}

main img {
    padding-top: 109px;
}

.searchbar {
    width: 584px;
    height: 44px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    margin: 30px auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.searchbar:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.fa-search {
    font-size: .75rem;
    color: #9AA0A6;
    margin: 13px;
}

.searchbar input {
    outline: none;
    border: 0;
    margin: 10px 0;
    font-size: .8rem;
}

.btn-primary {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    height: 36px;
    font-size: .7rem;
    text-align: center;
    cursor: pointer;
    margin: 11px 4px;
    padding: 0 16px;
}

.btn-primary:hover {
    border: 1px solid #c6c6c6;
}

.dropmenu {
    display: none;
    width: 340px;
    height: 470px;
    top: 0;
    right: 0;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
    background: #fff;
    position: absolute;
    z-index: 10;
}

.dropmenu.show {
    display: block;
}

.dropmenu-item {
    display: inline-block;
    width: 84px;
    height: 84px;
    margin: 12px;
    font-size: .75rem;
    text-align: center;
    cursor: pointer;
}

.dropmenu-item:hover {
    background: #f6fafe;
    border-radius: 12px;
}
